#intro {
	color: white;
	background-color: green;
}
.padded-box {
	border: 2px solid #FFA310;
	padding: 20px;
	color: #FFFFFF;
}
.default-box {
	border: 2px solid #FFA310;
	color: #FFFFFF;
}

body {
	background-color: #0C12527;
}
#card {
	width: 150px;
	height: 150px;
	background-color: #3498DB;
	margin: 80px;
	z-index: 10;
}
#card:active {
	transform: translate(-25px, 50px);
}
